

}
@media only screen and (min-width: 1680px) and (max-width: 1920px) {
  /* MacBook Pro 2020 15"*/


 }
  }

  .head2 {display: none;}
}

@media only screen and (min-width: 1400px) and (max-width: 1680px) {
  /* MacBook Pro 2020*/

 }

  .head2 {display: none;}
}


@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  /* Macbook Air 11.6" */

 }

  .head2 {display: none;}
  .b19 {left: 20%;}
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* iPad Portrait */

    .head1 {display: none;}


}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* промежуток */

   .head1 {display: none;}

 }


@media only screen and (min-device-width: 375px) and (max-device-width: 480px) {
  /* iPhone X */

   .head1 {display: none;}

 }



@media only screen  and (max-device-width: 375px)  {
  /* iPhone SE */

 .head1 {display: none;}

}
